<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>test</title>
	<style type="text/css">
html{font-size: 40px;}
body{position: absolute;left: 0;width: 100%;height: 100%;overflow-x:hidden;margin: 0;font-size: .34rem;text-align: center;line-height: 3rem;color: #fff;}
.head,.footer{position: fixed;left: 0;background: #4d406b;height: .9rem;width: 100%;}
.head{top: 0;}
.content{position: absolute;left: 0;top: .9rem;bottom:.9rem;overflow-y:scroll;width: 100%;background-color: blue;}
.footer{bottom: 0;}
</style>
</head>
<body>
	<p>   在梁启超所著的《梁启超论儒家哲学》里，梁启超先生对儒家哲学做了详细的解读，儒家哲学的代表人物孔子的理论和人生发展也进行了论述。另对两位儒学大家王阳明和戴东原的哲学思想做了重点的剖析。本书是梁启超先生的晚年力作。</p>
<p>近世100多年，华夏文化受西方文化的冲撞，激湍跌宕，对传统文化的理解和传承出现前所未有的震动，至今波澜未已。其间在天文学上体现为结束古代传统、“转轨"西化、进入近现代的航道。《大系》中所设的《中国古代天文学的转轨与近代天文学》一卷，阐述了这一时期的历史。</p>
<p>全套书中用《中国少数民族天文学史》一卷介绍了对同属华夏文化的发掘和整理，是一项开辟性的探索。另一卷《中国古代天文学词典》篇幅达47万字，对天文典籍阅读者是十分有用的工具，也是好伴侣。《大系》共10卷，每卷40万到80万字。</p>
<p class="text-left">二是在体例形式上做了一些调整。各章新增了“学习目标”以突出各章节的学习重点，一些补充知识和内容则以“专栏”形式出现。</p>
<p class="text-left">三是删除了一些过时的内容，增加了有关该领域*发展变化的内容。对涉及法律法规、政策文件等变化的内容以及数据等进行了更新。</p>
<p class="text-left">本书适合于高等院校经济、管理学科本科生的教材或教学参考书，也可供从事相关行业的经济管理人员阅读和参考。</p>
</body>
</html>