.proposal {
	list-style: none;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.44);
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

li{
	text-align: left;
	padding-left: 5px;
	font-family: inherit;
	border-bottom: 1px solid rgba(0, 0, 0, 0.16);
	height: 40px;
	line-height: 40px;
	background-color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

a{
	text-decoration: none;
}

a:active{text-decoration:none;}
a:visited{text-decoration:none;}